@{
  ViewData["Index"] = "Zodiac Signs";
}
<link href="~/css/ZodicaSigns.css" rel="stylesheet">

<div style="padding: 50px; ">
  <h1>Zodiac Signs</h1>

  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Aries.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aries</h5>

          <strong>Positive Traits</strong>
          <p class="card-text">Spontaneous, honest,
            courageous, enthusiastic,
            juvenile, winner attitude,
            pioneer, entrepreneur</p>
          <strong>Nagative Traits</strong>
          <p class="card-text">
            Reckless, unstable,
            capricious, listens to
            himself, intolerant,
            stubborn
          </p>
          <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/aries/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Taurus.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Taurus</h5>
          <strong>Positive Traits</strong>
          <p class="card-text">Organized, loyal, reliable,
            stable, realistic, hardworker,
            productive,
            reassuring</p>
          <strong>Nagative Traits</strong>
          <p class="card-text">
            Hard-headed, possessive,rigid, narrow-minded,grumpy, too pragmatic
          </p>
          <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/taurus/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Gemini.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gemini</h5>
          <strong>Positive Traits</strong>
          <p class="card-text">Adaptable, intellectual,
            sense of humour, inspired,
            mobile, inventive</p>
          <strong>Nagative Traits</strong>
          <p class="card-text">Nervous, superficial, liar,manipulator, impatient,mocker, contradictory</p>
          <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/gemini/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Cancer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cancer</h5>
          <strong>Positive Traits</strong>
                <p>Nice, sensitive, attentive,
                    delicate, imaginative,
                    memory, listener, discreet</p>
                    <strong>Nagative Traits</strong>
                    <p>Capricious, susceptible,
                        influenced, dependant,
                        sulks, nostalgic</p>
                <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/cancer/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Leo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leo</h5>
          <strong>Positive Traits</strong>
                  <p>Flamboyant, audacious,
                    resourceful, innovative,
                    generous</p>
                    <strong>Nagative Traits</strong>
                    <p>Arrogant, power-hungry,
                        prideful, authoritarian,
                        narcissism</p>
                 <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/leo/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Virgo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Virgo</h5>
          <strong>Positive Traits</strong>
                  <p>Analytic, scientific, local,
                    modest, meticulous,
                    methodical, sincere,
                    rigorous</p>
                    <strong>Nagative Traits</strong>
                    <p>Too critical, cynical,
                        suspicious, calculator,
                        spiteful, too rigid, too
                        moralistic</p>
                <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/virgo/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Libra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Libra</h5>
          <strong>Positive Traits</strong>
                <p>Pleasant, romantic,
                    diplomatic, nice, sense of
                    justice, generosity,
                    considerate</p>
                <strong>Nagative Traits</strong>
                    <p>Indecisive, hesitant,
                        emotional, capricious,
                        distant</p>
                <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/libra/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Scorpio.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Scorpio</h5>
          <strong>Positive Traits</strong>
                  <p>Determined, diligent,
                    charmer, perseverant,
                    intuitive, devoted</p>
                    <strong>Nagative Traits</strong>
                    <p>
                        Inflexible, arrogant,destructive, liar,disobedient, selfish,provocative
                    </p>
                <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/scorpio/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Sagittarius.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sagittarius</h5>
          <strong>Positive Traits</strong>
                  <p>Flexible, adaptable, loves
                    life and liberty, open,
                    extraverted</p>
                    <strong>Nagative Traits</strong>
                    <p>Direct, irresponsible, lack
                        of continuity, does not end
                        what is startedt</p>
                <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/sagittarius/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Capricorn.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Capricorn</h5>
          <strong>Positive Traits</strong>
                <p>Prudent, disciplined,
                    realistic, humour,
                    humble, diplomatic,
                    reliable</p>
                <strong>Nagative Traits</strong>
                <p>Suspicious, interiorise,
                    closed-minded, cold,
                    authoritarian</p>
                    <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/capricorn/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Pisces.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pisces</h5>
          <strong>Positive Traits</strong>
                  <p>Humanitarian, sense of
                    peace and justice,
                    inventive, loyal,
                    visionary</p>
                    <strong>Nagative Traits</strong>
                    <p>Eccentric, impatient,
                        doesn’t accept mediocrity</p>
                    <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/pisces/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="~/img/Aquarius.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aquarius</h5>
          <strong>Positive Traits</strong>
                  <p>Humble, humanist,
                    complaisant, devoted,
                    detached, versatile</p>
                    <strong>Nagative Traits</strong>
                    <p>Irresponsible, difficulty
                        facing reality, crook,
                        coward, traitor, liar,
                        manipulator</p>
                    <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/aquarius/" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>

</div>